nav
  h1
    a(ui-sref='main')
      img.logo(src='assets/images/logo-slim.png', alt='')
  ul.right.inline-list.no-bullet
    li(ng-hide="auth.isLoggedIn()")
      a.small.button(ui-sref='login') Login
    li(ng-show="auth.isLoggedIn()")
      a.small.button(ng-click='auth.logout()') Logout 