nav-bar

.row.home
  .small-12.columns
    h2 Connect with a specialist advice giver.
    p(ng-hide='search.focus') adviicemrkt has specialists in Accounting, Financial Planning, Legal, Mortgage Lending and Real Estate. They are ready and waiting to chat with you - go meet your match!

    .card
      header
        p Search our specialists

      form(name='search-form', novalidate)
        div
          label Get help quick!
          input.search(type='text', name='search-query', ng-model='search.choice', ng-focus='search.focus = true', placeholder='I am looking for...', typeahead='profession._id as profession.title for profession in professions', typeahead-on-select='onSelect', required)

          ul.results(ng-hide='search.choice.length >= 1 || !search.focus')
            li.label Suggestions
            li(ng-repeat='default in search.defaults')
              a(ng-click='setRequestType(default)') I am looking for {{ default.title }} advice
                i.right.fa.fa-chevron-right

    hr.clearfix(style='margin-top: 1em')
    p.specialists-button(ng-hide='search.focus')
      a.small.round.secondary.button(ui-sref='request.industrySelect') I am looking for clients 
        i.fa.fa-arrow-right
