ul.results(ng-show='isOpen()')
    li(ng-repeat='match in matches', ng-class='{ active: isActive($index) }', ng-mouseenter='selectActive($index)', ng-click='selectMatch($index)')
      div(typeahead-match='', index='$index', match='match', query='query', template-url='templateUrl')