.row
	.small-12.columns
		h2 Request sent to specialists
		p Cool! Thanks for that. We'll email you when specialists pitch to your request.
		p 
			a.radius.button(ui-sref='request.view({ id : newRequest._id })') View Request