.row
	.small-12.columns
		h2 Welcome aboard. 

	.card
		p Back to your {{ query.type.title }} request!
		textarea(ng-model="query.content" , name="string")

		a.round.button(ng-click='submitRequest()') Find me a specialist!
			i.fa.fa-arrow-right