.row
	.small-12.columns
		.card
			header
				p I am looking for a {{ query.type }} specialist, to help me...
			textarea(ng-model='query.content')
			hr
			p
				a.right.small.round.button(ng-click='submitRequest()') Create Request

			.clearfix