.row
	.small-12.columns
		h2 Which Industry do you specialise in?

		ul.button-group.radius.stack
			li(ng-repeat='profession in professions')
				a.button(ng-click="viewRequests(profession)") {{ profession.title }}